fastapi==0.95.2
uvicorn[standard]==0.23.2
SQLModel==0.0.16
SQLAlchemy>=2.0.32,<2.1.0
passlib==1.7.4
python-jose==3.3.0
email-validator==2.2.0
yfinance==0.2.66
pandas
numpy
python-multipart==0.0.9
requests==2.32.3
openchart
beautifulsoup4==4.12.3
lxml==5.3.0
cloudscraper==1.2.71
